{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended" // uses the recommended rules from the @typescript-eslint/eslint-plugin
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "dist/"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "indent": ["error", 2, { "SwitchCase": 0 }],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],

    "comma-dangle": ["error", "always-multiline"],
    "dot-notation": "error",
    "eqeqeq": "error",
    "curly": ["error", "all"],
    "brace-style": ["error"],
    "prefer-arrow-callback": "warn",
    "max-len": ["warn", 150],
    "object-curly-spacing": ["error", "always"],
    "operator-linebreak": ["error"],

    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": ["error", {"classes": false}],
    "@typescript-eslint/explicit-module-boundary-types": "error"
  }
}
